/*
Andrew Deal
Professional Website
Presentation on 8/15/23
*/

:root { 
    --myBlue: #0ec0e4;
    
    /*Define left and right values for each element here*/
    /*This makes changing them easier because it applies to original position + animations*/
    --greetingTop: clamp(1vh, 10vw, 20vh);
    --greetingLeft: 5vw;
    --nameTop: clamp(1vh, 15vw, 30vh);
    --nameLeft: 5vw;
    --introTop: clamp(1vh, 27vw, 54vh);
    --introLeft: 5vw;
    --instructionsTop: clamp(1vh, 32.5vw, 65vh);
    --instructionsLeft: 5vw;
    
    --aboutMeTitleTop: clamp(1vh, 5vw, 10vh);
    --aboutMeTitleLeft: 5vw;
    --aboutMeParagraphTop: clamp(1vh, 12vw, 24vh);
    --aboutMeParagraphLeft: 5vw; 
    --meTop: clamp(1vh, 6vw, 12vh);
    --meLeft: 65vw; 

    --projectsTitleTop: 10vh;
    --projectsTitleLeft: 5vw;
    --projectsGalleryTop: 30vh;
    --projectsGalleryLeft: 0px;

    --resumeTitleTop: 10vh;
    --resumeTitleLeft: 5vw;
    --myResumeTop: 10vh;
    --myResumeLeft: 63vw; 

    --contactTitleTop: clamp(1vh, 5vw, 10vh);
    --contactTitleLeft: 0vw;
    --contactBoxTop: clamp(1vh, 13.5vw, 27vh);
    --contactBoxLeft: 15vw;
}


body {
    background-color: #f0f8ff;

    /*Temporary backgound. Make sure to credit if image is used
    background: url("https://img.freepik.com/premium-vector/abstract-seamless-pattern-background-with-artistic-style_7505-1600.jpg?w=1380");*/

    margin: 0;
    /*delete later?*/ height: 99vh;

    /*Overflow handling*/
    overflow-x: scroll;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

h1, h2, h3 {
    margin: 0;
}

#greeting { 
    font-size: clamp(1px, 5vw, 10vh);
    

    /*Set position*/
    position: fixed;
    top: var(--greetingTop);
    left: var(--greetingLeft);
    white-space: nowrap; 
}

#name {
    font-family: monospace serif;
    font-size: clamp(1px, 11vw, 22vh);
    color: rgba(0, 0, 0, 0); /* Text is fully transparent */
    -webkit-text-stroke: 2px black; /* Outline width and color */
    -webkit-text-fill-color: transparent;
    font-weight: bold;

    /*Setup for ".fancy" background moving animation*/
    background: linear-gradient(
        to right,
        var(--myBlue),
        var(--myBlue),
        var(--myBlue),
        var(--myBlue),
        rgb(226, 87, 145),
        rgb(226, 87, 145),
        var(--myBlue)
    );
    background-size: 200%;
    background-clip: auto; /*Unnecessary but gets rid of yellow squiggly line*/
    -webkit-background-clip: text;
    white-space: nowrap;

    /*Set position*/
    position: fixed;
    top: var(--nameTop);
    left: var(--nameLeft);
}

@media only screen and (max-width: 400px) {
    #name {
        color: var(--myBlue);
        -webkit-text-stroke: 1px black; /* Outline width and color */
        font-size: 15vw;
        left: 0px;
        width: 100%;
        text-align: center;
    }
}

/*.fancy {
    
    background-clip: auto; /*Unnecessary but gets rid of yellow squiggly line
    -webkit-background-clip: text;
    white-space: nowrap;
}*/

@keyframes background-pan { /*Also has to keep it at its position*/
    from {
        background-position: -200% center;
        top: var(--nameTop);
        left: var(--nameLeft);
        transform: scale(1);
    }

    to {
        background-position: 0% center;
        top: var(--nameTop);
        left: var(--nameLeft);
        transform: scale(1);
    }
}

#intro {
    font-size: clamp(1px, 3vw, 6vh);
    padding-bottom: 1vw;
    border-bottom: 3px solid var(--myBlue);

    /*Set position*/
    position: fixed;
    top: var(--introTop);
    left: var(--introLeft);
    white-space: nowrap; 
}

#instructions {
    font-size: clamp(1px, 3vw, 6vh);
    white-space: nowrap; 

    /*set position*/
    position: fixed;
    top: var(--instructionsTop);
    left: var(--instructionsLeft);
}

#aboutMeTitle {
    color: rgba(0, 0, 0, 0); /* Text is fully transparent */
    -webkit-text-stroke: 2px black; /* Outline width and color */
    background-clip: auto;
    -webkit-background-clip: text;
    font-weight: bold;
    background-color: var(--myBlue); /*Change text color*/
    font-size: clamp(1px, 8vw, 16vh);
    white-space: nowrap; 

    /*set position*/
    position: fixed;
    top: calc(var(--aboutMeFolderY) - var(--aboutMeTitleHeight));
    left: calc(var(--aboutMeFolderX) - var(--aboutMeTitleWidth));
    transform: scale(0);
}

#aboutMeParagraph {
    font-size: clamp(1px, 1.75vw, 3.5vh);
    width: clamp(10vw, 55vw, 110vh);
    
    /*set position*/
    position: fixed;
    top: calc(var(--aboutMeFolderY) - var(--aboutMeParagraphHeight));
    left: calc(var(--aboutMeFolderX) - var(--aboutMeParagraphWidth));
    transform: scale(0);
}

#me {
    width: clamp(1vw, 28vw, 48vh);
    /*max-height: 60vh; Fix this height calculation for responsiveness later*/
    aspect-ratio: auto;

    /*set position*/
    position: fixed;
    top: calc(var(--aboutMeFolderY) - var(--meHeight));
    left: calc(var(--aboutMeFolderX) - var(--meWidth));
    transform: scale(0);
}

#projectsTitle {
    color: rgba(0, 0, 0, 0); /* Text is fully transparent */
    -webkit-text-stroke: 2px black; /* Outline width and color */
    background-clip: auto;
    -webkit-background-clip: text;
    font-weight: bold;
    background-color: var(--myBlue); /*Change text color*/
    font-size: 6rem;
    white-space: nowrap; 

    /*set position*/
    position: fixed;
    top: calc(var(--projectsFolderY) - var(--projectsTitleHeight));
    left: calc(var(--projectsFolderX) - var(--projectsTitleWidth));
    transform: scale(0);
}

#projectsGallery {
    background-color: rgb(112, 112, 112);
    border-block: 5px solid var(--myBlue);
    display: flex;
    align-items: center;

    /*set position*/
    position: absolute;
    top: calc(var(--projectsFolderY) - var(--projectsTitleHeight) / 2);
    left: calc(var(--projectsFolderX) - var(--projectsTitleWidth) / 2);
    transform: scale(0);
}

div.gallery {
    border: 1px solid #333;
    float: left;
    width: 45vw;
    margin: 10px;
}
  
div.gallery:hover {
    border: 1px solid var(--myBlue);
}
  
div.gallery img {
    width: 100%;
    height: auto;
    display: block;
}
  
div.desc {
    border-top: 1px solid #333;
    padding-inline: 2vw;
    text-align: center;
    background-color: #DDD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.desc p {
    display: inline-block;
    width: fit-content;
}

.tags {
    display: flex;
    gap: 0.5vw;
}

.tag {
    color: white;
    border: 1px solid black;
    border-radius: 0.5vw;
    padding: 0.3vw;
}

.html {
    background-color: rgb(255, 94, 0);
}

.css {
    background-color: rgb(0, 183, 255);
}

.js {
    background-color: rgb(207, 1, 207);
}

#resumeTitle {
    color: rgba(0, 0, 0, 0); /* Text is fully transparent */
    -webkit-text-stroke: 2px black; /* Outline width and color */
    background-clip: auto;
    -webkit-background-clip: text;
    font-weight: bold;
    background-color: var(--myBlue); /*Change text color*/
    font-size: 6rem;
    white-space: nowrap; 

    /*set position*/
    position: fixed;
    top: calc(var(--resumeFolderY) - var(--resumeTitleHeight));
    left: calc(var(--resumeFolderX) - var(--resumeTitleWidth));
    transform: scale(0);
}

#myResume {
    text-align: right;

    /*set position*/
    position: fixed;
    top: calc(var(--resumeFolderY) - var(--myResumeHeight));
    left: calc(var(--resumeFolderX) - var(--myResumeWidth));
    transform: scale(0);
}

#resumeImg {
    width: 28vw;
    /*max-height: 60vh; Fix this height calculation for responsiveness later*/
    aspect-ratio: auto;
}

#myResume a {
    /*Fill this in later*/
    display: auto; /*delete this once I put something real*/
}

#contactTitle {
    color: rgba(0, 0, 0, 0); /* Text is fully transparent */
    -webkit-text-stroke: 2px black; /* Outline width and color */
    background-clip: auto;
    -webkit-background-clip: text;
    font-weight: bold;
    background-color: var(--myBlue); /*Change text color*/
    font-size: clamp(1px, 7vw, 14vh);
    white-space: nowrap; 
    width: 100vw;
    text-align: center;

    /*set position*/
    position: fixed;
    top: calc(var(--contactFolderY) - var(--contactTitleHeight));
    left: calc(var(--contactFolderX) - var(--contactTitleWidth));
    transform: scale(0);
}

#contactBox {
    border: 1px solid black;
    /*border-bottom: none;*/
    width: clamp(10vw, 70vw, 140vh);
    height: clamp(1vw, 45vh, 25vw);
    border-radius: 1vw;
    /*Move behind the rounded blue div at some point*/
    display: flex;
    padding: 1vw;
    background-color: white;

    /*set position*/
    position: fixed;
    top: calc(var(--contactBoxY) - var(--contactBoxHeight));
    left: calc(var(--contactBoxX) - var(--contactBoxWidth));
    transform: scale(0);
}

#contactLeftSide {
    width: 50%;
    display: inline-block;
    border-right: 1px solid black;
    padding-right: 1vw;
}

#contactBox form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25vw;
}

#nameInput, #emailInput {
    display: block;
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

#messageInput {
    display: block;
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
    resize: vertical;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

#submitContactForm {
    padding: 1vw;
    background-color: var(--myBlue);
    border: none;
    border-radius: 1vw;
    width: 10vw;
}

#contactRightSide {
    width: 50%;
    display: inline-block;
    padding-left: 1vw;
}

#contactsFlex {
    display: flex;
    flex-direction: column;
}

.contactInfoDiv {
    display: flex;
    align-items: center;
    margin-block: 2vw;
}

.contactInfoDiv img {
    width: 4vw;
    height: 4vw;
    display: inline-block;
    margin-right: 1vw;
}

.contactInfoDiv p {
    margin: 0;
    font-size: 2vw;
    text-align: left;
    display: inline-block;
}


/*-------------------------*/
@keyframes shrinkAndMoveGreeting {
    from {
        top: var(--greetingTop);
        left: var(--greetingLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--homeFolderY) - var(--greetingHeight));
        left: calc(var(--homeFolderX) - var(--greetingWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveGreeting {
    from {
        top: calc(var(--homeFolderY) - var(--greetingHeight));
        left: calc(var(--homeFolderX) - var(--greetingWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--greetingTop);
        left: var(--greetingLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveName {
    from {
        top: var(--nameTop);
        left: var(--nameLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--homeFolderY) - var(--myNameHeight));
        left: calc(var(--homeFolderX) - var(--myNameWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveName {
    from {
        top: calc(var(--homeFolderY) - var(--myNameHeight));
        left: calc(var(--homeFolderX) - var(--myNameWidth)); 
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--nameTop);
        left: var(--nameLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveIntro {
    from {
        top: var(--introTop);
        left: var(--introLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--homeFolderY) - var(--introHeight));
        left: calc(var(--homeFolderX) - var(--introWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveIntro {
    from {
        top: calc(var(--homeFolderY) - var(--introHeight));
        left: calc(var(--homeFolderX) - var(--introWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--introTop);
        left: var(--introLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveInstructions {
    from {
        top: var(--instructionsTop);
        left: var(--instructionsLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--homeFolderY) - var(--instructionsHeight));
        left: calc(var(--homeFolderX) - var(--instructionsWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveInstructions {
    from {
        top: calc(var(--homeFolderY) - var(--instructionsHeight));
        left: calc(var(--homeFolderX) - var(--instructionsWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--instructionsTop);
        left: var(--instructionsLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveAboutMeTitle {
    from {
        top: var(--aboutMeTitleTop);
        left: var(--aboutMeTitleLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--aboutMeFolderY) - var(--aboutMeTitleHeight));
        left: calc(var(--aboutMeFolderX) - var(--aboutMeTitleWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveAboutMeTitle {
    from {
        top: calc(var(--aboutMeFolderY) - var(--aboutMeTitleHeight));
        left: calc(var(--aboutMeFolderX) - var(--aboutMeTitleWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--aboutMeTitleTop);
        left: var(--aboutMeTitleLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveAboutMeParagraph {
    from {
        top: var(--aboutMeParagraphTop);
        left: var(--aboutMeParagraphLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--aboutMeFolderY) - var(--aboutMeParagraphHeight));
        left: calc(var(--aboutMeFolderX) - var(--aboutMeParagraphWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveAboutMeParagraph {
    from {
        top: calc(var(--aboutMeFolderY) - var(--aboutMeParagraphHeight));
        left: calc(var(--aboutMeFolderX) - var(--aboutMeParagraphWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--aboutMeParagraphTop);
        left: var(--aboutMeParagraphLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveMe {
    from {
        top: var(--meTop);
        left: var(--meLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--aboutMeFolderY) - var(--meHeight));
        left: calc(var(--aboutMeFolderX) - var(--meWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveMe {
    from {
        top: calc(var(--aboutMeFolderY) - var(--meHeight));
        left: calc(var(--aboutMeFolderX) - var(--meWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--meTop);
        left: var(--meLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveProjectsTitle {
    from {
        top: var(--projectsTitleTop);
        left: var(--projectsTitleLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--projectsFolderY) - var(--projectsTitleHeight));
        left: calc(var(--projectsFolderX) - var(--projectsTitleWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveProjectsTitle {
    from {
        top: calc(var(--projectsFolderY) - var(--projectsTitleHeight));
        left: calc(var(--projectsFolderX) - var(--projectsTitleWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--projectsTitleTop);
        left: var(--projectsTitleLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveProjectsGallery {
    from {
        top: var(--projectsGalleryTop);
        left: var(--projectsGalleryLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--projectsFolderY) - var(--projectsGalleryHeight));
        left: calc(var(--projectsFolderX) - var(--projectsGalleryWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveProjectsGallery {
    from {
        top: calc(var(--projectsFolderY) - var(--projectsGalleryHeight));
        left: calc(var(--projectsFolderX) - var(--projectsGalleryWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--projectsGalleryTop);
        left: var(--projectsGalleryLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveResumeTitle {
    from {
        top: var(--resumeTitleTop);
        left: var(--resumeTitleLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--resumeFolderY) - var(--resumeTitleHeight));
        left: calc(var(--resumeFolderX) - var(--resumeTitleWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveResumeTitle {
    from {
        top: calc(var(--resumeFolderY) - var(--resumeTitleHeight));
        left: calc(var(--resumeFolderX) - var(--resumeTitleWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--resumeTitleTop);
        left: var(--resumeTitleLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveMyResume {
    from {
        top: var(--myResumeTop);
        left: var(--myResumeLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--resumeFolderY) - var(--myResumeHeight));
        left: calc(var(--resumeFolderX) - var(--myResumeWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveMyResume {
    from {
        top: calc(var(--resumeFolderY) - var(--myResumeHeight));
        left: calc(var(--resumeFolderX) - var(--myResumeWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--myResumeTop);
        left: var(--myResumeLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveContactTitle {
    from {
        top: var(--contactTitleTop);
        left: var(--contactTitleLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--contactFolderY) - var(--contactTitleHeight));
        left: calc(var(--contactFolderX) - var(--contactTitleWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveContactTitle {
    from {
        top: calc(var(--contactFolderY) - var(--contactTitleHeight));
        left: calc(var(--contactFolderX) - var(--contactTitleWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--contactTitleTop);
        left: var(--contactTitleLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}

@keyframes shrinkAndMoveContactBox {
    from {
        top: var(--contactBoxTop);
        left: var(--contactBoxLeft);
        transform: scale(1);
        transform-origin: center;
    }
    to {
        top: calc(var(--contactFolderY) - var(--contactBoxHeight));
        left: calc(var(--contactFolderX) - var(--contactBoxWidth));
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes growAndMoveContactBox {
    from {
        top: calc(var(--contactFolderY) - var(--contactBoxHeight));
        left: calc(var(--contactFolderX) - var(--contactBoxWidth));
        transform: scale(0);
        transform-origin: top left;
    }
    to {
        top: var(--contactBoxTop);
        left: var(--contactBoxLeft);
        transform: scale(1);
        transform-origin: top left;
    }
}


/*-----------------------*/

#folderContainer {
    position: fixed;
    left: 50%; /*Center*/
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 10px;
    width: clamp(375px, 100%, 1000px);
    display: flex;
    justify-content: space-around;
    z-index: 999;
    cursor: auto !important;
}

.folder {
    width: 50px;
    height: 50px;
}

.folderBox {
    text-align: center;
    padding: 2px 7px 2px 7px;
}

#folderContainer p {
    margin-block: 0;
    font-size: 1rem;
    pointer-events: none;
}

#roundedDiv {
    z-index: -100000000; /*Move to back*/
    width: 100%;
    height: 200px;
    background: var(--myBlue);
    border-radius: 50px; /*Round corners*/
    position: fixed;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -45%); /*Change second value to move up/down*/
    display: flex;
    justify-content: space-around;
}
