/*
Andrew Deal
Professional Website
First submission due 8/4/23
*/

html {
    scroll-behavior: smooth;

    /*Stop text from being selected
    -webkit-user-select: none; /* Safari
    -ms-user-select: none; /* IE 10 and IE 11 
    user-select: none; /* Standard syntax 
    */
}

body {
    margin: 0; /* div backgrounds cover screen edge to edge */ 
    overflow-x: hidden; /* disable horizontal scrollbar */
}

#linklist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #20A4A2; /* The main accent color used for the whole site */
    display: flex; 
    justify-content: center; 
    position: fixed;
    z-index: 999999;
    
    width: 100%;
    /*
    width: 60%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 20%; 
    */
}

#linklist > li {
    display: inline; 
}

#linklist > li a {
    /* Set up how links appear in the horizontal list */
    display: block;
    color: #252525;
    text-align: center;
    font-size: 1.65vw;
    padding: 1em;
    text-decoration: none;
}

#linklist > li a:hover {
    /* Horizontal list links darken on hover */
    background-color: #1b8d8b;
}

/*TEMP DELETE LATER*/
div {
    border: 1px dashed limegreen;
}
/*----------------*/

#main {
    width: 100%;
    background: linear-gradient(to right, white 50%, black 50%);
    /* Screen split so half is black and half is white */
}

#main > div {
    height: 58vw; /* Approx height of screen based on average ratio of width to height on monitor + some extra room (10vw) */
}

.flexSection {
    display: flex;
    align-items: center;
}

.leftAlign {
    text-align: left;
    padding-left: 5vw;
}

.rightAlign {
    text-align: right;
    justify-content: right;
    padding-right: 5vw;
}

.gridContainer {
    display: grid;
    /* 10x10 grid setup class */
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

#main h1, #main h2, #main h3, #main h4, #main p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    mix-blend-mode: difference;
    /* Font shows white on black bg and black om white bg */
    margin-top: 0;
    margin-bottom: 0;
}

#main h2 {
    font-size: 4.5vw;
}

#main h3 {
    font-size: 2.75vw;  
}

#main h4 {
    font-size: 2vw;  
    clear: both;
}

#main p {
    font-size: 1.75vw;
    text-indent: 3vw;
}

hr {
    border: none; /* Remove the default border */
    border-top: 5px solid #20A4A2;
}

#titlePage > div {
    display: flex;
    justify-content: space-around;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vw;
}

#titlePageText {
    width: 43vw;
    text-align: right;
    margin-top: 22vw;
    padding-right: 5vw;
    margin-bottom: 5vw;
}

#nameTitle {
    font-size: 7vw;
    display: inline;
}

#subtitle {
    display: inline;
}

#titlePage hr {
    width: 30vw;
    float: right;
}

#me {
    display: inline;
    width: 27vw;
    height: 40vw;
}

#aboutMeTextContainer {
    width: 50vw;
}

#aboutMeTextContainer hr {
    width: 22vw;
    float: right;
}

#aboutMeTextContainer p, #projectsTextContainer p {
    clear: both;
    line-height: 2.5vw;
} 

#coreValuesTab {
    margin-top: 2vw;
    width: 50%;
    display: flex;
    justify-content: center;
}

#coreValuesTab p {
    font-family: 'Courier New', monospace;
    background-color: #20a4a2;
    color: #252525;
    mix-blend-mode: normal;
    width: auto;
    padding: 1vw 2.25vw 1vw 2.25vw;
    text-align: center;
    text-indent: 0;
    font-size: 3vw;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*-----------------------------------------------------*/
/*Marquee Styling*/
#marquee {
    height: 10vw;
    background-color: black;
    border-top: 5px solid #20a4a2;
    border-bottom: 5px solid #20a4a2;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.sliding-text-container {
    display: flex;
    animation: marquee 10s linear infinite;
}

.sliding-text {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    gap: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.sliding-text h5 {
    display: inline;
    color: white;
    font-size: 8vw;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

/* Keyframes for the animation */
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
/*-----------------------------------------------------*/

#projectsTextContainer {
    width: 38vw;
}

#projectsTextContainer hr {
    width: 22vw;
    float: left;
}





/* ------------ UNUSED CODE DUMP ------------ */
.fancy {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        teal,
        rgb(202, 35, 218),
        teal
    );
    background-size: 200%;
    background-clip: auto; /*Unnecessary but gets rid of yellow squiggly line*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

@keyframes background-pan {
    from {
        background-position: -200% center;
    }

    to {
        background-position: 0% center;
    }
}

/*------------------------------------------*/